[storage]
root_size = 16384

[ssh]
port = 19521

[ssh.pubkeys]
core = "..."

[network]
domain = "example.com"

[gitea]
subdomain = "code"
admin = "alice"

[nextcloud]
subdomain = "cloud"
admin = "bob"
